body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

#intro-text {
    border: 1px solid #ccc;
    padding: 20px;
    min-width: 600px !important;
    margin: 40px;
}

#intro-text textarea {
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    min-height: 200px;
    resize: none;
    /* Verhindert das Ändern der Größe durch Benutzer */
}

h1 {
    color: #009688;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
}

#fragenUndAntworten {
    display: none;
}

#intro-text {
    max-width: 600px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

input[type="button"] {
    background-color: #009688;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 16px;
}

input[type="submit"] {
    background-color: #009688;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#downloadButton {
    display: none;
    margin-top: 20px;
}
